body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.arrowGreen {
  color: green;
}

.arrowRed {
  color: red;
}

.handCurser{
  cursor: pointer;
}

.marginFirstComment:first-child {
  margin-top: 15px;
}
